.header {
  background-image: linear-gradient(to right, $color-1, $color-2);
  padding: 1.5rem 0;

  &__title {
    letter-spacing: 0.1rem;

    @include respond('small') {
      margin-bottom: 1rem;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
