.navigation {
  display: flex;
  align-items: center;

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  @include respond('small') {
    width: 100%;
    text-align: center;
  }

  &__link {
    &,
    &:link,
    &:visited {
      color: $color-4-light;
      text-decoration: none;
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
    }

    @include respond('small') {
      font-size: 1.6rem;
      font-weight: 500;
    }

    &--active {
      &,
      &:link,
      &:visited {
        color: $color-3;
      }
    }
  }
}
