/**
 * Responsive Breakpoint Manager 
 *
 * 0px - 600px:       Small (phones)
 * 600px - 900px:     Medium (tablet in portrait mode)
 * 900px - 1200px:    Large (tablet in landscape mode)
 * 1800px and more:   Huge (big desktops)
 */

$breakpoints: (
  'small': (max-width: px-to-em(600px)),
  'medium': (max-width: px-to-em(900px)),
  'large': (max-width: px-to-em(1140px)),
  'huge': (min-width: px-to-em(1800px)),
);

@mixin respond($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}` in `$breakpoints` map.';
  }
}
